# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/
.idea/compiler.xml
.idea/copyright/
.idea/gradle.xml
.idea/libraries/
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
